@inherits LayoutComponentBase

<Header />

<div class="page unauthorized" style="overflow: auto">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />