<div id="bottom-bar">
    <div class="bottom-bar-element">
        <span class="material-symbols-rounded">
            home
        </span><br>
        <span>Home</span>
    </div>
    <div class="bottom-bar-element">
        <span class="material-symbols-rounded">
            pending
        </span><br>
        <span>Coming Soon</span>
    </div>
    <div class="bottom-bar-element">
        <span class="material-symbols-rounded">
            pending
        </span><br>
        <span>Coming Soon</span>
    </div>
    <div class="bottom-bar-element">
        <span class="material-symbols-rounded">
            pending
        </span><br>
        <span>Coming Soon</span>
    </div>
</div>