#bottom-bar {
    width: 100%;
    background-color: var(--neutral-layer-3) !important;
    position: fixed;
    bottom: 0;
    height: 80px;
}

.bottom-bar-element {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--accent-fill-rest);
    cursor: pointer;
    fill: var(--accent-fill-rest);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

    .bottom-bar-element:hover {
        opacity: 1 !important;
    }

#bottom-bar:hover .bottom-bar-element {
    opacity: 0.33;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
