@using BlazorExpenseTracker.Models;

@implements IDialogContentComponent<ThemePanelParams>

<div style="min-height: 250px;">

    <FluentGrid>
        <FluentGridItem>
            <FluentButton OnClick=LogOutSystem width="100%" Appearance="Appearance.Accent">Log Out</FluentButton>
        </FluentGridItem>
    </FluentGrid>
</div>

