@page "/coming-soon"

@inherits AuthComponentBase

<PageTitle>Coming Soon</PageTitle>

<div class="object">
    <div class="object-rope"></div>
    <div class="object-shape">
        Coming <span class="soon">Soon</span>
    </div>
</div>

<div class="content">
    <p class="message">Site is still under construction. Stay Tuned!.</p>
</div>